html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  width:100%;
}

footer{
    box-sizing:border-box;
}

.imgcontainer{
    display:block;
    text-align:center;
}

.imgcontainer img{
    height:50px;
}


